:root {
    --primary-color: #001f4d;
    --border-color: #001f4d;
    --hover-color: #003481;
    --text-color: #00123a;
    --secondary-bg: #f7f3ee;
    --bg-color: #fafafa;
    --focus-color: #c7b277;
}